* {
    box-sizing: border-box;
}

body
{
    font-family: 'Raleway', sans-serif;
}

.header
{
    font-size: 68px;
    color: black;
    text-decoration: none;
    text-align: right;
    padding-right: 20px;
    margin-right: 100px;
    display: block;
    margin-top: 50px;
    font-weight: 100;
}

.row::after
{
    content: "";
    clear: both;
    display: table;
}

.col-4
{
   width: 33.33%; 
   float: left;
   padding: 36px;
}

#verticalLine
{
    position: relative;
    left: 240px;
    top: 72px;
    height: 1210px;
    border-left: 1px solid black;
}

#thirdCol
{
    position: relative; 
    left: -100px;
}

@media only screen and (max-width:992px)
{
    #verticalLine
    {
        display: none;
    }

    .col-4
    {
        width: 50%;
    }

    #thirdCol
    {
        position: relative;
        left: 10px;
    }
}

@media only screen and (max-width:768px) 
{
    .col-4
    {
        width: 100%;
        float: left;
        padding: 34px;
    }

    #thirdCol
    {
        position: relative;
        left: 0px;
    }
}
